<?xml version="1.0"?>
<collection>
	<movie>
		<title></title>
		<year></year>
		<director></director>
		<rating></rating>
		<runtime></runtime>
		<summary></summary>
		<poster-path></poster-path>
		<trailer-url></trailer-url>
		<genres>
			<genre></genre>
		</genres>
		<cast>
			<actor></actor>
		</cast>
		<also-known-as></also-known-as>
		<file-path></file-path>
	</movie>
	<series>
		<title></title>
		<summary></summary>
		<genres>
			<genre></genre>
		</genres>
		<cast>
			<actor></actor>
		</cast>
		<seasons>
			<season>
				<number></number>
				<year></year>
				<episodes>
					<episode>
						<summary></summary>
						<number></number>
						<title></title>
						<runtime></runtime>
						<file-path></file-path>
					</episode>
				</episodes>
			</season>
		</seasons>
	</series>
</collection>